<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>こどものぺーじ - ひとりで行けるもん！</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le styles -->
  <link href="/stylesheets/common/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/common/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/stylesheets/common/re-style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
  	<div class="chil-btn">
      <button class="btn btn-large btn-success btn-block chil-arrive" type="button">
        <i class="arrive-ico"></i>ついたよ！
      </button>
      <button class="btn btn-large btn-danger btn-block chil-help" type="button">
        <i class="help-ico"></i>たすけて！
      </button>
    </div>
  </div>
</body>
</html>
