<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Login</h1>
    <p><a href="/route">login</a></p>
    <p><a href="/children">children</a></p>
  </body>
</html>
